@font-face
  font-family: 'Onesize'
  src:  url('../fonts/Onesize.woff') format('woff'),
  url('../fonts/Onesize.svg#Onesize') format('svg'),
  url('../fonts/Onesize.eot'),
  url('../fonts/Onesize.eot?#iefix') format('embedded-opentype')
  font-weight: normal
  font-style: normal

// Font stacks (add your own!)
$onesize = "Onesize", sans-serif

// colors
$black = #000000
$blue = #0000AA
$brown = #AA5500
$cyan = #00AAAA
$gray = #555555
$green = #00AA00
$light-blue = #5555FF
$light-cyan = #55FFFF
$light-gray = #AAAAAA
$light-green = #55FF55
$light-magenta = #FF55FF
$light-red = #FF5555
$magenta = #AA00AA
$red = #AA0000
$white = #FFFFFF
$yellow = #FFFF55

// Default font settings
$font-stack = $onesize
$font-size = 1em
$font-color = $white

// Custom image base path for axis mixins
$img-path = '/images/'
