.welcome
  display: flex
  flex-direction: row

  .bar
    width: 100%
    height: 100vh

  .col-1
    background: linear-gradient($black 50%, $gray 50%);

  .col-2
    background: linear-gradient($blue 50%, $light-blue 50%);

  .col-3
    background: linear-gradient($green 50%, $light-green 50%);

  .col-4
    background: linear-gradient($cyan 50%, $light-cyan 50%);

  .col-5
    background: linear-gradient($red 50%, $light-red 50%);

  .col-6
    background: linear-gradient($magenta 50%, $light-magenta 50%);

  .col-7
    background: linear-gradient($brown 50%, $yellow 50%);

  .col-8
    background: linear-gradient($light-gray 50%, $white 50%);
